<!DOCTYPE html>
<html>
  <head>
    <title><%= title.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title.name %></h1>
    <p>emollak.net APIs</p>
  </body>
</html>
